<p style="color: green"><%= notice %></p>
<div class="container">
  <h1 class="centrar-h1">Clientes</h1>
  <p>
    <%= link_to "Nuevo Cliente", new_client_path, class: "btn btn btn-primary btn-sm" %>
  </p>
  <%== pagy_bootstrap_nav(@pagy) %> <!--gema pagy-->
  <div id="clients">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Película</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.id %></td>
            <td><%= client.name %></td>
            <td><%= client.age %></td>
            <% if client.movie.nil?%>
            <td>SIN ARRIENDO</td>
            <% else %>
            <td><%= client.movie.name %></td>
            <% end %>
            <td>
              <div class="btn-group">
                <%= link_to "Ver cliente", client, class: "btn btn-outline-primary btn-sm" %>
                <%= link_to "Editar cliente", edit_client_path(client), class: "btn btn-outline-warning btn-sm" %>
                <%= button_to "Eliminar cliente", client, method: :delete, class: "btn btn-outline-danger btn-sm" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
